.footer{
    background-color:  #3b4480;;
}

 
.logo{
    margin-left: 20px;
}
@media only screen and (max-width: 600px) {
   .company{
      margin-left: 40px;
   }
   ul li {
       
       margin-left: 40px;
  
   }
            
     }  

