.footer{
    background-color:  #3b4480;;
}

 
.logo{
    margin-left: 20px;
   
   
}
@media only screen and (max-width: 600px) {
   .company{
      margin-left: 80px;
      margin-bottom: 10px;
   }
   ul .l {
      margin-left: 80px;
  
   }
            
     }  

